html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 100px;
}

h2 {
  font-weight: 100;
  font-size: 42px;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

body {
  font-size: 13px;
  line-height: 20px;
}
